#graph_image
{
    width: 100%;
    max-width: 600px;
}

#form_grid
{
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 30px 30px 100px 30px 30px 30px;
}

.error_message
{
}

#submit_button
{
    width: 100px;
    height: 30px;
}