*, h1, h2, h3, h4
{
    font-family: 'Gentium Plus', serif;
}

/* Desktop layout: */
body
{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
        "header header"
        "navigation content"
        "footer footer";
}

/* Mobile version, i.e. when the viewport is 800px or smaller: */
@media screen and (max-width: 800px) {
    body
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 50px 1fr 50px;
        grid-template-areas:
        "header"
        "navigation"
        "content"
        "footer";
    }
}

header
{
    background-color: white;

    grid-area: header;
}

#navigation_container
{
    grid-area: navigation;
}

#content_container
{
    grid-area: content;
}

footer
{
    background-color: white;

    grid-area: footer;
}

article
{
    background-color: lightgray;
    margin: 5px;
}

/* Tables */
table
{
    background-color: black;
}

th
{
    background-color: white;
    text-align: left;
}

tr.row_type_0
{
    background-color: lightgrey;
}

tr.row_type_1
{
    background-color: darkgray;
}