*, h1, h2, h3, h4
{
    font-family: 'Gentium Plus', serif;
    color: black;
}

body
{
    background-color: lightslategray;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";

    padding: 0px;
}

header
{
    background-color: white;

    grid-area: header;
    padding: 5px;
}

aside
{
    background-color: darkgray;

    grid-area: sidebar;
    padding: 5px;
}

#content_div
{
    grid-area: content;
}

footer
{
    background-color: white;

    grid-area: footer;
    padding: 5px;
}

article
{
    background-color: lightgrey;

    padding: 5px;
}

section
{
    background-color: transparent;
}

/* Tables */
table
{
    background-color: black;
}

th
{
    background-color: white;
    text-align: left;
}

tr.row_type_0
{
    background-color: lightgrey;
}

tr.row_type_1
{
    background-color: darkgray;
}

