*, h1, h2, h3, h4
{
    font-family: 'Gentium Plus', serif;
    color: black;
}

/* Main layout */
body
{
    background-color: lightslategray;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
        "header header"
        "navigation content"
        "footer footer";

    padding: 0px;
}

header
{
    background-color: white;

    grid-area: header;
    padding: 5px;
}

#navigation_aside
{
    visibility: hidden;
    background-color: green;
    grid-area: navigation;
    padding: 5px;
}

#navigation_container
{
    background-color: red;
    grid-area: navigation;
    padding: 5px;
}

#content_container
{
    grid-area: content;
}

footer
{
    background-color: white;

    grid-area: footer;
    padding: 5px;
}

/* Navigation */
nav
{
}

nav ul
{
    list-style-type: none;
}

nav a
{
    display: block;
    text-decoration: none;
}

nav a:hover
{
    background-color: dimgray;
    color: white;
}

/* Content */
section
{
    background-color: transparent;
}

article
{
    background-color: lightgrey;

    margin: 5px;
    padding: 5px;
}

/* Tables */
table
{
    background-color: black;
}

th
{
    background-color: white;
    text-align: left;
}

tr.row_type_0
{
    background-color: lightgrey;
}

tr.row_type_1
{
    background-color: darkgray;
}

/* Mobile version, i.e. when the viewport is 800px or smaller: */
@media screen and (max-width: 800px) {
    body
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 50px 1fr 50px;
        grid-template-areas:
        "header"
        "navigation"
        "content"
        "footer";

        padding: 0px;
    }
}