*
{
    font-family: 'Gentium Plus', serif;
    color: black;
}

body
{
    background-color: lightslategray;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";

    padding: 0px;
}

header
{
    background-color: white;

    grid-area: header;
    padding: 5px;
}

aside
{
    background-color: darkgray;

    grid-area: sidebar;
    padding: 5px;
}

footer
{
    background-color: white;

    grid-area: footer;
    padding: 5px;
}

article
{
    background-color: lightgrey;

    padding: 5px;
}

section
{
    background-color: mediumseagreen;

    grid-area: content;
    padding: 5px;
}

/* Tables */
table
{
    background-color: black;
}

th
{
    background-color: white;
    text-align: left;
}

tr.row_type_0
{
    background-color: lightgrey;
}

tr.row_type_1
{
    background-color: darkgray;
}

td.date_column
{
    width: 100px;
    text-align: center;
}

td.mood_column
{
    width: 100px;
    text-align: right;
}

td.text_column
{
}

/* Specific elements */
#info_article
{
}

#form_article
{
}

#form_grid
{
    display: grid;
    grid-template-columns: 150px 300px;
    grid-template-rows: 30px 30px 100px 30px 30px 30px;
}

#submit_button
{
    width: 100px;
    height: 30px;
}

#entry_table
{
    width: 100%;
}